* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
}

.headertop {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 10px;
}

ul {
  margin: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.bigtitle {
  font-size: 48px;
  color: #f9faf8;
}

.titlesub {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 444px;
  margin-top: 15px;
}

.headerlogo {
  font-size: 24px;
}

.hdbody {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}

img {
  max-height: 200px;
  margin-left: 100px;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
}
